body {
  background-color: hsla(30, 100%, 95%);;
} 

.nav-hold{
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: flex;
  width: 101vw;
  height: 200px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: hsla(30, 100%, 95%, 1);

}

.nav {
  display: grid;
  display: none;
  width: 100%;
  height: 75px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  margin-left: 10px;
  margin-right: 10px;
}

.nav-mob {
  display: grid;
  width: 100%;
  height: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  margin-left: 10px;
  margin-right: 10px;
}

.node {
  align-self: center;
  justify-self: start;
  width: 70%;
}

.l-nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: end;
  align-items: center;

}

.social{
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  z-index: 1;
}

.mail {
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;

}

.local {
  display: flex;
  margin-right: 30px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  margin-left: 10%;

}

.dropdown {
  position: relative;
  display: inline-block;
  width: 10%;
  margin-left: 50%;
}

.dropdown:hover {
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: fixed;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-color: hsla(30, 100%, 95%, 1);
  z-index: 1;
  overflow: hidden;
}


@media (min-aspect-ratio: 1/1) {
  .dropdown-content {
    display: none;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.drop-org {
  width: 100%;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 150px;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 18px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
}


.flex-container {
  display: flex;
  margin: 0;
}



h1 {
  font-size: 34px;
  text-align: center;
}

h2 {
  font-size: 100px;
  text-align: center;
  margin: 5px 0;
}

h3 {
  font-size: 50px;
  text-align: center;
  font-family: Gloock;
  padding-left: 50px;
  padding-right: 50px;
}

h4 {
  font-size: 30px;
  text-align: left;

}

h5 {
  font-size: 40px;
  text-align: left;
}

h6 {
  font-size: 80px;
  margin: 0 0 0 0;
  text-align: center;
}

.h7 {
  font-size: 50px;
  margin: 0 0 0 0;
  text-align: left;
}

.h8 {
  font-size: 50px;
  margin: 0 0 0 0;
  text-align: right;
}

.h9 {
  font-size: 40px;
  margin: 0 0 0 0;
  text-align: right;
}

.h10 {
  font-size: 50px;
  text-align: left;
  margin: 20px 0 20px 0;
  line-height: 1.75;
  word-spacing: 1.5;
}

p {
  font-size: 40px;
  text-align: left;
  margin: 0 0 0 0;
  line-height: 1.75;
  word-spacing: 1.5;
  font-weight: bold;
}


/*WRITING*/
/*WRITING*/
/*WRITING*/
/*WRITING*/
/*WRITING*/
/*WRITING*/

.container {
  margin-top: 300px;
}

.title-b {
  width: auto;
  text-align: center;
  margin-top: 50px;
}

.tent_tainer {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.work {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.work a {
  text-decoration: none;
  color: inherit;
}

.work_table {
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 98%;

}

.work_item_a {
  flex-direction: row;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
}

.work_item_a a {
  justify-content: center;
  align-items: center;
}

.work_item_b {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 1000px;

}

/*.special {
  width: 100vw;
  height: 100%;
  display: block;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}*/

.work2 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.work2 a {
  text-decoration: underline;
}

.work_a {
  width: 85%;
  height: 250px;
  margin: 5px 5px 5px 5px;
  /* top, right, bottom, left */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work_a2 {
  width: 100%;
  height: 250px;
  margin: 5px 5px 5px 5px;
  /* top, right, bottom, left */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work_a_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.work_b {
  margin: 5px 5px 5px 5px;
  width: 90%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.work_b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.pubs {
  width: 100%;
  height: 250px;
  display: flex;
}

.pub-tainer {
  width: 80%;
  height: 150px;
  /* top, right, bottom, left */
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;

}

.pub-tainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pub-tainer a {
  text-decoration: none;
}



/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/


.graf-center {
  display: flex;
  width: 50%;
  max-width: 750px;
  justify-content: center;
  align-items: center;
}

.work_c {
  width: 300px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work_c_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.work_d {
  width: 300px;
  height: 150px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work_d_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

.things {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thing-tainer {
  width: 200px;
  height: 150px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.special {
  width: 100%;
  height: 250px;
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_special {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;

}

.no_under a {
  text-decoration: none;
}


.retainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 229px;
  width: 100vw;
}


.big-holder {
  width: 90%;
  height: auto;
  align-items: flex-start;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}

.hero {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.hero-abt {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
}

.me {
  width: 290px;
  height: 290px;
  object-fit: fill;
  background-image: url("m4.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
}

.post {
  margin-left: 50px;
}



.hero2 {
  width: 100%;
  height: auto;
  align-items: flex-start;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.writ {
  width: 95%;
  height: auto;
  justify-content: flex-start;

}

.her-ti {
  width: 98%;
  height: 75px;
}

.her-im {
  display: flex;
  width: 100%;
  height: 112px;
}

.her-im-it {
  width: 25%;
  height: 100%;
  object-fit: cover;
}


.cw {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
}

.cw-it-link{
  width: 35%;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  object-fit: cover;
}

.about-mini {
  width: 50%;
  margin-right: 5px;
}

.ab-min-im {
  width:40%;
  margin-left: 5px;
  object-fit: cover;

}

.cw-it {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.about {
  width: 80%;
  margin-right: 40px;

}

.abt-pic {
  width: 800px;
  height: 800px;
  object-fit: fill;
  background-image: url("m2.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  margin-bottom: 50px;
}
.retainer2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  width: 100%;
}

.big-holder2 {
  width: 90vw;
  height: auto;
  align-items: flex-start;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.no-dec {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.socials {
  display: flex;
}