
.no-dec {
  text-decoration: none;
  color: inherit;
}

.nav-mob {
  display: none;
}

/*.bg-im {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bread.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(30, 100%, 95%, 1);
  pointer-events: none;
  z-index: -1;
}

.nav-hold{
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: hsla(30, 100%, 95%, .95);

}

.nav {
  display: grid;
  width: 95%;
  height: 75px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  margin-left: 10px;
  margin-right: 10px;
}

.node {
  align-self: center;
  justify-self: start;
}

.l-nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: end;
  align-items: center;

}

.social{
  display: flex;
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 1;
}

.mail {
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;

}

.local {
  display: flex;
  margin-right: 30px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 250px;
  z-index: 1;
  background-color: hsla(30, 100%, 95%, .95);
  margin-top: 20px;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 18px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: hsla(30, 100%, 85%, .9);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}


.flex-container {
  display: flex;
  margin: 0;
}



h1 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Elsie";
  color: hsl(150, 100%, 10%);
/*  text-shadow: 3px 3px 1px hsla(180, 100%, 50%, 1);*/
  font-weight: normal;
  font-size: 34px;
  text-align: center;
}

h2 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Caprasimo";
  color: hsl(165, 100%, 10%);
  font-weight: normal;
  font-size: 80px;
  text-align: center;
  margin: 5px 0;
}

h3 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Caprasimo";
  color: hsl(180, 100%, 10%);
/*  text-shadow: 2px 2px 1px hsla(180, 100%, 50%, 1);*/
  font-weight: normal;
  font-size: 30px;
  text-align: left;
}

h4 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Calistoga";
  color: hsl(220, 100%, 10%);
/*  text-shadow: 2px 2px 1px hsla(220, 100%, 80%, 1);*/
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

h4 a {
  text-decoration: none;
  color: inherit;
}

h5 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Gloock";
  color: hsl(180, 100%, 10%);
/*  text-shadow: 2px 2px 1px hsla(180, 100%, 50%, 1);*/
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 20px;
}

h6 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Caprasimo";
  color: hsl(190, 100%, 10%);
  font-weight: normal;
  font-size: 30px;
  margin: 0 0 0 0;
  text-align: center;
}

.h7 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Calistoga";
  color: hsl(190, 100%, 10%);
  font-weight: normal;
  font-size: 50px;
  margin: 0 0 0 0;
  text-align: left;
}

.h8 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Calistoga";
  color: hsl(190, 100%, 10%);
  font-weight: normal;
  font-size: 50px;
  margin: 0 0 0 0;
  text-align: right;
}

.h9 {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Calistoga";
  color: hsl(190, 100%, 10%);
  font-weight: normal;
  font-size: 30px;
  margin: 0 0 0 0;
  text-align: right;
}

.h10 {
  font-family: "Bodoni Moda";
  color: hsl(220, 100%, 10%);
  font-size: 20px;
  text-align: left;
  margin: 0 0 0 0;
  line-height: 1.75;
  word-spacing: 1.5;
  font-weight: bold;
  justify-content: center;
}

p {
  font-family: "Merriweather";
  color: hsl(220, 100%, 10%);
  font-size: 20px;
  text-align: left;
  margin: 0 0 0 0;
  line-height: 1.75;
  word-spacing: 1.5;
  font-weight: bold;
}


/*WRITING*/
/*WRITING*/
/*WRITING*/
/*WRITING*/
/*WRITING*/
/*WRITING*/

.container {
  margin-top: 300px;
}

.title-b {
  width: auto;
  text-align: center;
  margin-top: 50px;
}

.tent_tainer {
  margin-top: 150px;
  margin-bottom: 150px;
}

.work {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-bottom: 100px;
}

.work a {
  text-decoration: none;
  color: inherit;
}

.work_table {
  flex-direction: column;
  display: flex;

}

.work_item_a {
  flex-direction: row;
  display: flex;

}

.work_item_b {
  flex-direction: row;
  display: flex;

}

.work2 {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-bottom: 100px;
}

.work2 a {
  text-decoration: underline;
}

.work_a {
  width: 500px;
  height: 250px;
  margin: 5px 5px 5px 5px;
  /* top, right, bottom, left */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

work_a a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.work_a2 {
  width: 500px;
  height: 250px;
  margin: 5px 5px 5px 5px;
  /* top, right, bottom, left */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work_a_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;

}

.work_b {
  width: 500px;
  height: 250px;
  margin: 5px 5px 5px 5px;

}

.work_b img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.highlight-on-hover:hover {
  background-color: hsla(30, 100%, 90%, .9);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pubs {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
/*  flex-direction: column;*/

}

.pub-tainer {
  width: 200px;
  height: 250px;
  padding: 5px 5px 5px 5px;
  /* top, right, bottom, left */
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;

}

.pub-tainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pub-tainer a {
  text-decoration: none;
}



/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/
/*PUBLISHING*/


.graf-center {
  display: flex;
  width: 50%;
  max-width: 750px;
  justify-content: center;
  align-items: center;
}

.work_c {
  width: 300px;
  height: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work_c_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.work_d {
  width: 300px;
  height: 150px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.work_d_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
}

.things {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thing-tainer {
  width: 200px;
  height: 150px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.special {
  width: 500px;
  height: 250px;
  margin: 5px 5px 5px 5px;
  /* top, right, bottom, left */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_special {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;

}

.no_under a {
  text-decoration: none;
}


.retainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 229px;
  width: 100vw;
}


.big-holder {
  width: 1165px;
  height: auto;
  align-items: flex-start;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
}

.hero {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.me {
  width: 290px;
  height: 290px;
  object-fit: fill;
  background-image: url("m4.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
}

.post {
  margin-left: 10%;
}



.hero2 {
  width: 100%;
  height: auto;
  align-items: flex-start;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.writ {
  width: 1165px;
  height:auto;
  justify-content: flex-start;

}

.her-ti {
  width: 100%;
  height: 75px;
}

.her-im {
  display: flex;
  width: 100%;
  height: 150px;
}

.her-im-it {
  width: 25%;
  height: 100%;
  object-fit: cover;
}


.cw {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
}

.cw-it-link{
  width: 35%;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  object-fit: cover;
}

.about-mini {
  width: 40%;
  margin-right: 20px;
}

.ab-min-im {
  width:30%;
  margin-left: 20px;
  object-fit: cover;

}

.cw-it {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.about {
  width: 45%;
  margin-right: 40px;

}

.abt-pic {
  width: 290px;
  height: 100%;
  object-fit: fill;
  background-image: url("m2.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
}
.retainer2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100vw;
}

.big-holder2 {
  width: 1165px;
  height: auto;
  align-items: flex-start;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}